<!-- trabalhando com o médoto post -->

<form action="\salvar" method="POST">
    <p>Título</p>
    <input type="text" name="titulo" required>
    <p>Conteúdo:</p>
    <textarea name="conteudo" id="" cols="30" rows="10" required></textarea>
    <button type="submit">cadastrar postagem</button>
</form>